.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}
.popuptext {
    margin-bottom:7px;
    margin-top: 7px;
}
.main_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    margin-top:25px;
    justify-content: center;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    width: 35%;
    min-width: 450px;
    border: 3px solid #534c97;
    border-radius: 15px;
    min-height: 500px;
    max-height:500px;
    
}


.btn_list_container {
    margin-top: 20px;
    width: 30%;
    min-width: 300px;
    min-height: 200px;
    overflow: auto;
    max-height: 500px;
    background-color: #d0ccfe;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

#img {
    
    max-width: 400px;
    aspect-ratio: auto;
    max-height: 480px;
    object-fit: fill;
}

.list-btn {
    border: 3px solid #534c97;
    padding: 2px 15px;
    color: #534c97;
    border-radius: 15px;
}

.list-item {
    margin-top: 10px;
    color: #534c97;
}

.common_container {
    flex-wrap:wrap;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
